@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Arimo:wght@400;500;600&family=Berkshire+Swash&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/Alegreya/AlegreyaSans-Regular.woff2') format('woff2'),
        url('../font/Alegreya/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cambria';
    src: url('../font/cambria/Cambria.woff2') format('woff2'),
        url('../font/cambria/Cambria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM FELL English';
    src: url('../font/im-fell/IM_FELL_English_Roman.woff2') format('woff2'),
        url('../font/im-fell/IM_FELL_English_Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
}

p {
    font-family: Alegreya sans;
}

body {
    overflow-x: hidden;
}

.header-menu .menubar {
    background-color: #1B243D;
    height: 100px;
}

.header-menu .page ul.navbar-nav {
    height: 78px;
}

.header-menu .page li a {
    color: #C18948;
    font-size: 18px;
    font-family: cambria;
}

.header-menu .page li.login-btn a {
    background-color: #C18948;
    color: #000;
    padding: 10px 42px;
    border-radius: 50px;
}

h2.fell-font {
    font-family: im fell;
}

.main-banner h2 {
    font-size: 38px;
    color: #1B243D;
    margin-bottom: 30px;
}

.main-banner .wealth li {
    color: #C18948;
    font-size: 18px;
}

.wealth ul {
    margin-bottom: 31px;
    padding-left: 20px;
}

.blue-btn a {
    background-color: #1B243D;
    padding: 11px 32px;
    border-radius: 50px;
    color: #C18948;
}

.blue-btn {
    margin-bottom: 12px;
    margin-top: 12px;
}

.main-banner .investor h6 {
    margin-left: 15px;
    font-size: 18px;
    color: #000;
}

.main-banner p.title {
    font-size: 14px;
    font-style: italic;
    color: #1B243D;
}

.main-banner .investor {
    border-bottom: 1px solid #00000073;
    padding-bottom: 7px;
    margin-bottom: 3px;
}

.main-banner .investor img {
    width: 30px;
    height: 35px;
}

.main-banner .banner-card {
    background-color: #E8C69F;
    padding: 18px 16px;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 90%;
}

.main-banner .banner-card p {
    font-size: 15px;
    color: #000;
}

.main-banner .bridge-img img {
    width: 100%;
    height: 778px;
    object-fit: cover;
}

.main-banner .banner-left-content {
    width: 83%;
    margin: auto;
}

.market-size {
    background-color: #C18948;
    padding: 2rem 0;
}

.market-size .global-sec h5 {
    background-color: #EFEAE5;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
    justify-content: center;
    font-weight: 400;
}

.market-size .global-sec p {
    margin-bottom: 0;
    padding: 10px 0;
}

.alternative h2 {
    font-size: 20px;
    font-family: cambria;
    font-weight: 600;
    color: #C18948;
    margin-bottom: 15px;
}

.alternative p {
    color: #E8C69F;
    font-size: 26px;
    font-family: cambria;
}

.alternative li {
    color: #E8C69F;
    line-height: 32px;
}

.alternative img {
    width: auto;
    height: 272px;

}

.alternative {
    background-color: #1B243D;
    padding: 5rem 0 2rem 0;
}

.alter-assets img {
    width: 100%;
}

.alter-assets {
    background-color: #EDD9C2;
    padding: 2rem 0;
}

.alter-assets h2 {
    background-color: #1B243D;
    color: #C18948;
    font-size: 20px;
    padding: 18px;
    font-family: Cambria;
    border-radius: 13px;
    margin-bottom: 40px;
    display: inline-block;
}

.main-footer {
    background-color: #1B243D;
    padding: 2rem 0;
}

.main-footer h2 {
    color: #fff;
    font-size: 20px;
    font-family: cambria;
    font-weight: 600;
    margin-bottom: 35px;
}

.main-footer li a {
    color: #fff;
}

.main-footer li {
    list-style: none;
    line-height: 29px;
}

.main-footer ul {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.main-footer .app-logo img {
    width: 100px;
    border-radius: 8px;
    margin-right: 10px;
}

.main-footer p {
    color: #E8C69F;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 26px;
}

.main-footer .icons img {
    width: 27px;
    margin-right: 9px;
}

.bg-brown-head h3 {
    background-color: #C18948;
    font-size: 32px;
    font-family: combria;
    font-weight: 600;
    display: inline;
    padding: 4px 13px;
    border-radius: 5px;
}

.bg-brown-head {
    margin-top: 3px;
}

h4.inner-title {
    font-size: 22px;
    font-family: combria;
    font-weight: 600;
}

.popular-assets {
    background-color: #EFEAE5;
    padding: 4rem 0;
}

.bg-brown-head p {
    color: #C18948;
    font-weight: 600;
    margin-top: 12px;
    font-size: 15px;
}

.explore-assets h4 {
    font-size: 26px;
    color: #C18948;
}

.explore-assets {
    background-color: #EFEAE5;
    box-shadow: -1px 1px 5px #c7c4c4;
    padding: 4rem 0;
}

.dropdown-tooltip a.btn {
    background-color: transparent;
    border-radius: 50px;
    margin-right: 10px;
    border: none;
    padding: 0px;
}

.dropdown-tooltip a.btn img {
    width: 33px;
    height: auto;
}

.dropdown-tooltip p.about {
    color: #A6A6A6;
    font-size: 14px;
}

.dropdown-tooltip .dropdown-toggle::after {
    display: none;
}

.dropdown-tooltip {
    text-align: center;
    position: relative;
    color: #A6A6A6;
}

.dropdown-tooltip .dropdown-menu.show {
    width: 467px;
    transform: translate(2px, 41px) !important;
    padding: 12px;
    background-color: #A6A6A6;
}

.alternative .dropdown-tooltip p {
    font-size: 14px;
    color: #000;
    line-height: 21px;
    margin-bottom: 0;
}

.alternative .dropdown-tooltip {
    margin-top: 54px;
}

.header-menu .page img {
    width: 12px;
    margin-left: 2px;
}

.main-banner .bridge-img {
    padding-right: 0;
}

.parimay-card .assets-card {
    background-color: #D9D9D9;
    border-radius: 20px;
}

.parimay-card {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 60px;
}

.parimay-card .card-logo img {
    width: 100%;
    height: 112px;
    max-width: fit-content;
}

.assets-card .card-logo {
    text-align: center;
}

.parimay-card .blur-md {
    background-color: #1B243D;
    display: flex;
    align-items: center;
    padding: 6px 18px;
}

.parimay-card .blur-md p {
    color: #C18948;
    margin-bottom: 0;
}

.parimay-card .blur-md h5 {
    color: #1B243D;
    background-color: #C18948;
    font-size: 12px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 11px;
}

.card-logo.bg-blue {
    background-color: #304ebe;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.parimay-card .blur-md img {
    width: 35px;
}

.parimay-card .blur-md img.center-ig {
    width: 29px;
    margin: 0px 11px;
}

.parimay-card .middle-sec img {
    width: 24px;
    margin-right: 4px;
}

.assets-card .middle-sec {
    display: flex;
    background-color: #E8C69F;
    padding: 12px 7px;
    align-items: center;
    justify-content: space-between;
}

.assets-card .middle-sec p {
    margin: 0px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.assets-card .org span {
    color: #FF5300;
    font-weight: 600;
    margin-left: 4px;
}

.assets-card .grn span {
    color: #00BF63;
    font-weight: 600;
    margin-left: 4px;
}

.assets-card p.cate {
    margin-bottom: 0px;
    font-weight: 600;
    padding: 8px;
    font-size: 14px;
    height: 57px;
    display: flex;
    align-items: center;
}

.assets-card .dics h4 {
    font-size: 14px;
    font-weight: 600;
}

.assets-card .dics p {
    font-size: 14px;
}

.parimay-card .assets-card .dics {
    padding: 15px;
}

.card-logo.bg-white {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.parimay-card .latest p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.parimay-card .latest {
    background-color: #C28848;
    padding: 8px 12px;
}

.inner-banner {
    background-image: url(../../assets/image/inner-banner.svg);
    background-size: cover;
    height: 240px;
    display: flex;
    align-items: center;
}

.inner-banner h2 {
    color: #FFBD59;
    font-size: 36px;
}

.inner-banner p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}

.about-inner-contain h4 {
    font-size: 20px;
    font-weight: 600;
}

.about-inner-contain img {
    width: 100%;
    position: relative;
    z-index: 9;
}

.about-inner-contain {
    background-color: #FFFBF3;
    padding-top: 5rem;
    position: relative;
}

.about-inner-contain:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 58.5px solid #DDD4BD;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-banner .banner-content img {
    width: 175px;
}

.inner-banner .banner-content h4 {
    color: #FFBD59;
    font-size: 18px;
    font-style: italic;
}

.inner-contain {
    padding: 4rem 0;
    background-color: #EFEAE5;
}

.inner-contain .create-account {
    background-color: #1B243D;
    padding: 32px 15px;
    border-radius: 20px;
}

.create-account h3 {
    font-size: 22px;
    color: #fff;
}

.create-account p {
    color: #fff;
}

.create-account .creat-form input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0000008a;
    padding: 4px;
}

.create-account .creat-form {
    background-color: #fff;
    padding: 18px 12px;
    border-radius: 20px;
}

input:focus-visible {
    outline: none;
}

input:focus {
    outline: none;
}

.g-recaptcha iframe {
    transform: scale(0.9);
}

.create-account .creat-form .g-recaptcha iframe {
    transform: scale(0.9) translateX(-16px);
}

.create-account button {
    background-color: #C18948;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    color: #fff;
}

.inner-contain .empanel-cont {
    padding-left: 0;
    padding-right: 50px;
    line-height: 26px;
}

.inner-contain .empanel-cont li {
    padding-bottom: 18px;
}

.create-account .creat-form input::placeholder {
    font-size: 14px;
}

.contact-form .tab-pane::-webkit-scrollbar-thumb {
    background: #aba9a3;
    border-radius: 5px;
}

.contact-form .tab-pane::-webkit-scrollbar-track {
    border-radius: 5px;
}

.contact-form .tab-pane::-webkit-scrollbar {
    width: 5px;
    height: 50px;
}

.faqs-content {
    padding: 4rem 0;
}

.inner-banner-funds {
    background-image: url(../../assets/image/inner-banner-fund.png);
    background-size: cover;
    height: 390px;
    display: flex;
    align-items: center;
}

.fractional-banner {
    background-image: url(../../assets/image/alternative-banner.svg);
    background-size: cover;
    height: 390px;
    display: flex;
    align-items: center;
}

.angel-funds-banner {
    background-image: url(../../assets/image/angel-funds-banner.svg);
    background-size: cover;
    height: 390px;
    display: flex;
    align-items: center;
}

.infrastructure-funds {
    background-image: url(../../assets/image/infa-banner.svg);
    background-size: cover;
    height: 390px;
    display: flex;
    align-items: center;
}

.venture-funds {
    background-image: url(../../assets/image/vacture-capital.svg);
    background-size: cover;
    height: 390px;
    display: flex;
    align-items: center;
}

.Distressed-Funds {
    background-image: url(../../assets/image/Distressed-banner.svg);
    background-size: cover;
    height: 390px;
    display: flex;
    align-items: center;
}

.private-funds-banner {
    background-image: url(../../assets/image/private-funds-banner.svg);
    background-size: cover;
    height: 390px;
    display: flex;
    align-items: center;
}

.private-credit-banner {
    background-image: url(../../assets/image/Private-credit-banner.png);
    background-size: cover;
    height: 390px;
    display: flex;
    align-items: center;
}

.banner-text-contain h2 {
    color: #FFBD59;
    font-size: 36px;
    font-family: IM FELL;
}

.banner-text-contain p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}

.banner-text-contain h4 {
    color: #FFBD59;
    font-size: 18px;
    font-family: Alegreya Sans;
    font-weight: 400;
}

.banner-text-contain button {
    background-color: #1B243D;
    color: #FFBD59;
    border: 2px solid #000;
    margin-bottom: 20px;
    margin-top: 9px;
    border-radius: 5px;
    font-size: 14px;
}

.banner-btn a {
    padding: 9px 25px;
    background-color: #FFBD59;
    color: #000;
    font-weight: 500;
    border: 2px solid #000;
    border-radius: 5px;
    font-family: Alegreya sans;
}

.banner-profile h5 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid #ffffffb8;
    font-family: Alegreya sans;
}

.indian-startup img {
    width: 85%;
}

.banner-profile p {
    font-size: 17px;
    margin-bottom: 0;
    color: #fff;
}

.banner-profile .profile img {
    width: 80px;
    margin-right: 15px;
}

.banner-profile {
    background-color: #C18948;
    padding: 10px;
    border-radius: 10px;
    width: 85%;
    margin: auto;
}

.your-investment h2.invest-fund {
    font-size: 36px;
    position: relative;
    margin-bottom: 24px;
}

.your-investment h3 {
    font-size: 23px;
    margin-bottom: 2px;
}

.your-investment h2.invest-fund:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 302px;
    border: 1px solid #C18948;
}

.your-investment .structure img {
    margin-bottom: 28px;
    height: 325px;
    width: auto;
}

.your-investment ul.key-feature {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 10px;
}

.your-investment {
    background-color: #FFF3E4;
    padding: 4rem 0;
}

.your-investment .historical img {
    width: 100%;
    height: 100%;
}

h2.inner-heading {
    font-size: 25px;
    font-weight: 600;
    font-family: Alegreya sans-serif;
    margin-bottom: 26px;
}

.historical {
    background-color: #E8C69F;
    padding: 20px;
    border-radius: 15px;
}

.your-investment .hist-card {
    background-color: #E8C69F;
    padding: 20px;
    border-radius: 15px;
    height: 100%;
}

.banifit-tabs ul {
    list-style: auto;
    padding: 11px 21px;
}

.banifit-tabs .nav-tabs button {
    width: 135px;
    font-family: Alegreya sans;
    font-weight: 600;
}

.banifit-tabs button.benefits {
    border-top-right-radius: 0;
    border-top-left-radius: 40px;
    background-color: #C18948 !important;
    border-bottom: 0;
    color: #000;
    border-top: 1px;
    margin-right: 2px;
}

.banifit-tabs button.risks {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 40px;
    background-color: #333B52 !important;
    color: #fff !important;
    border: none;
    margin-left: 2px;
}

.banifit-tabs .tab-content .tab-pane.benefits {
    background-color: #C18948;
    padding: 20px;
    border-radius: 15px;
    height: 100%;
}

.banifit-tabs .tab-content .tab-pane.risks {
    background-color: #333B52;
    padding: 20px;
    border-radius: 15px;
    height: 100%;
    color: #fff;
}

.banifit-tabs .tab-content li {
    padding-bottom: 15px;
}

.categories-card .cate-card h4 {
    margin-bottom: 18px;
    font-size: 20px;
    font-weight: 600;
}

.cate-card img {
    width: 130px;
}

.cate-card .btn a {
    background-color: #FFBD59;
    color: #000;
    padding: 11px 24px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: Alegreya sans;
    font-weight: 600;
}

.cate-card {
    background-color: #E8C69F;
    text-align: center;
    padding: 44px 20px;
    border-radius: 18px;
}

.categories-card {
    background-color: #C18948;
    padding: 26px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 24px;
}

.categories-card.categories-two-card {
    background-color: #C18948;
    padding: 26px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 24px;
    width: 68%;
    margin: auto;
}

h2.cate-head {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 22px;
    margin-top: 35px;
}

.categories h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 14px;
}

h3.bg-blue {
    background-color: #1B243D;
    color: #C18948;
    display: inline;
    padding: 6px 18px;
    font-size: 28px;
    font-weight: 400;
    border-radius: 5px;
    font-family: Alegreya sans;
}

.explore-cate div#nav-tab {
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-cate .nav-tabs button {
    background-color: #C18948 !important;
    width: 240px;
    border: 0;
    margin-bottom: 17px;
    padding: 8px;
    color: #fff !important;
    font-size: 18px;
    font-family: Alegreya sans;
    border-radius: 5px;
}

.explore-cate div#nav-tabContent {
    background-color: #1B243D !important;
    color: #C18948;
    border: none !important;
    border-radius: 20px;
    padding: 32px 18px;
}

.explore-cate .real-fund img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.real-fund p {
    margin-bottom: 0;
    font-family: Alegreya sans;
}

.explore-cate .real-fund {
    display: flex;
    align-items: center;
    background-color: #333B52;
    margin-bottom: 12px;
    border-radius: 35px;
    padding: 10px;
}

.explore-cate {
    padding: 4rem 0rem;
}

.taxation h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

.taxation tbody {
    background-color: #E8C69F;
    border: 5px solid #fff;
}

.taxation tbody tr td {
    border: 1px solid #0000005c;
    padding: 15px;
}

.taxation tbody tr th {
    border: 1px solid #0000005c;
    padding: 15px;
    font-weight: 500;
}

.category-banner {
    background-image: url(../../assets/image/cate-banner.svg);
    background-size: cover;
    height: 390px;
    display: flex;
    align-items: center;
}

.sebi-graph img {
    width: 80%;
}

.your-investment .sebi-graph {
    background-color: #E8C69F;
    text-align: center;
    padding: 12px 20px;
    border-radius: 10px;
}

.sebi-graph h5 {
    font-size: 16px;
    text-align: justify;
    padding-top: 10px;
}

p.disclaimer {
    font-style: italic;
}

.realstate-graph img {
    border: 1px solid;
    width: 65%;
    border-radius: 20px;
}

.realstate-graph {
    text-align: center;
}

.realstate-graph p.disclaimer {
    font-size: 14px;
}

.real-estate-table td {
    padding: 6px;
}

.real-estate-table span.team {
    background-color: #1B243D;
    width: 84%;
    display: flex;
    color: #FFBD59;
    padding: 8px 13px;
    font-size: 18px;
}

.real-estate-table th {
    padding: 6px;
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: 500;
}

.real-estate-table {
    background-color: #E8C69F;
    padding: 15px;
    border-radius: 10px;
}

.investment h2 {
    font-size: 36px;
    font-weight: 500;
    font-family: IM Fell;
    margin-bottom: 18px;
    text-align: center;
}

.investment {
    padding-top: 3rem;
}

.invest-card .card-img img {
    width: 100%;
    border-radius: 18px;
}

.invest-card h4 {
    font-family: Alegreya sans;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 1px;
}

.invest-card p {
    font-size: 20px;
}

.invest-card .disc img {
    width: 35px;
    height: 35px;
    margin-right: 18px;
}

.invest-card .disc {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.invest-card .disc h5 {
    font-size: 16px;
    margin-bottom: 0px;
}

.invest-card .disc p {
    margin-bottom: 0;
    font-size: 16px;
}

.investment .invest-card {
    background-color: #E8C69F;
    border-radius: 18px;
    margin: 0 10px;
}

.invest-card .disc p.per {
    background-color: #00BF63;
    text-align: center;
    display: inline;
    padding: 3px 30px;
    border-radius: 5px;
}

.lifecircle img {
    width: 100%;
}

.growth img {
    width: 68%;
}

.your-investment .growth {
    padding: 4rem 0 2rem 0;
}

.venturecapital img {
    width: 100%;
}

.annual img {
    width: 100%;
}

.your-investment .annual {
    background-color: #E8C69F;
    padding: 15px;
    border-radius: 10px;
}

.annual li {
    font-size: 14px;
}

.your-investment .dist-fund img {
    width: 100%;
}

.dist-fund p.disclaimer {
    font-weight: 600;
}

p.fw-two {
    font-weight: 500;
}

.banifit-tabs .tab-content ul strong {
    font-weight: 600;
}

p.brown-text {
    color: #D19D60;
    font-size: 18px;
    font-weight: 500;
}

.drivers .dri-label {
    display: flex;
    align-items: center;
}

.drivers .dri-label h4 {
    font-size: 14px;
    color: #D19D60;
    margin-bottom: 0;
}

.drivers .blue-boxx {
    background-color: #1B243D;
    width: 115px;
    min-width: 115px;
    display: flex;
    align-items: center;
    height: 82px;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
}

.drivers .drive-label li {
    font-size: 12px;
}

.drivers .drive-label ul {
    background-color: #d3d6e7;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 4px;
    height: 65px;
    display: flex;
    align-items: center;
}

.drivers p.brown-text {
    margin-bottom: 4px;
}

.amount-tabs {
    background-color: #E8C69F;
    padding: 15px;
    border-radius: 10px;
}

.amount-table img {
    width: 570px;
}


.menubar .dropdown-menu {
    width: 100vw;
    left: 0;
    /* / display: none;/ / visibility: hidden;/ padding: 0; */
    margin: 0;
    z-index: 9999;
    border: none;
    border-radius: 0;
    background-color: #c18948f7;
    box-shadow: none;
    padding: 58px 0 38px 0;
    top: 24px !important;
}

/* .menubar .dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
} */

.menubar .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 10px;
    color: #333;
}

.menubar .dropdown button.btns {
    color: #C18948;
    font-size: 18px;
    font-family: cambria;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.menubar .dropdown button.btns:active {
    border: none;
}

.menubar button.btns.show {
    border: none;
}

.dropdown .product h3 {
    font-size: 20px;
    font-family: 'Cambria';
    font-weight: 600;
    margin-bottom: 18px;
}

.dropdown .drop-page {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.product .drop-page h4 {
    font-size: 19px;
    font-family: 'Cambria';
    font-weight: 600;
    margin-bottom: 2px;
    color: #000;
}

.product .drop-page p {
    font-family: 'Cambria';
    font-size: 17px;
    margin-bottom: 0;
    line-height: 20px;
    color: #000;
}

.header-menu .product .drop-page img {
    width: 48px;
}

.product .drop-page .drop-img {
    margin-right: 18px;
}


/* css added by abhishek */

.login {
    /* background-image: url('../login-img/login-bg-banner.png'); */
    background-color: #EFEAE5;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.login-form,
.login-form-otp {
    box-shadow: 1px 1px 20px #C4C4C429;
    border-radius: 10px;
    background: #1B243D;
    padding: 30px;
    margin: 0 30px;
}

.custom-height-form {
    height: 575px;
}

.login-form h1,
.login-form-otp h1 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-family: system-ui, 'Open sans';
    color: #fff;
}

.login-form h2,
.login-form-otp h2 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Poppins';
}

.login ul#myTabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 1px solid #e3dfdf; */
    margin: 0 10px 20px;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.login .nav-pills li a.active {
    color: #C18948;
}

.login li a.active {
    border-bottom: 2px solid #c18948;
}

.login .nav-pills a {
    color: #e8c69f;
    font-size: 18px;
    border-bottom: 2px solid transparent;
}

.login li a {
    justify-content: center;
    display: flex;
    width: 200px;
    text-align: center;
    padding-bottom: 5px;
    background-color: transparent;
    font-family: 'Poppins';
}

.login li a {
    justify-content: center;
    display: flex;
    width: 200px;
    text-align: center;
    padding-bottom: 5px;
}



.tab-content>.tab-pane {
    display: none;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.login-form .form-group {
    margin-bottom: 5px;
}

.login-form label,
.login-form-otp label {
    font-size: 15px;
    color: #e8c69f;
    margin-bottom: 10px;
    font-family: 'Poppins';
}

.login-form input.form-control {
    border: 1px solid #333B52 !important;
    border-radius: 10px;
    height: 40px;
    background: #333B52;
    color: #fff;
    font-family: 'Poppins';
}

.login-form a.password {
    font-size: 14px;
    color: #e8c69f;
    display: flex;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    text-decoration: none;
    font-family: 'Poppins';
}

.login-form .g-recaptcha {
    margin-bottom: 20px;
    position: relative;
    display: flex;
    -ms-transform: scale(0.9) !important;
    transform: scale(0.9) !important;
    -webkit-transform: scale(0.9) !important;
    left: -22px;
}

.login-form .signin,
.login-form-otp .signin {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    font-size: 15px;
    color: #fff
}

.yellow-btn {
    background: #C18948;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: max-content;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;
    transition: all 1s ease 0s;
    /* font-family: 'Poppins'; */
}

.login-form a.regist {
    text-align: center !important;
    color: #fff;
    font-size: 13px;
    display: block;
    text-decoration: none;
    font-family: 'Poppins';
}

.login-form a.regist span {
    color: #143C6D;
}

.tab-content>.active {
    display: block;
    opacity: 1 !important;
}

.login-form-otp h3 {
    font-size: 18px;
    /* font-weight: bold; */
    margin-bottom: 20px;
    color: #c18948;
    font-family: 'Poppins';
}

.login-form-otp .otp-field input[type="text"] {
    height: 54px;
    text-align: center;
    width: 95px;
    margin: 0 auto 20px;
    border: 0;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    transition: all 0.1s;
    background-color: transparent;
    outline: none;
    color: #fff;
    font-family: 'Poppins';
}

.login-form-otp p {
    margin-bottom: 30px;
    font-size: 13px;
    color: #e8c69f;
    font-family: 'Poppins';
}

.login-form-otp a.regist {
    text-align: left;
    margin-bottom: 30px;
    color: #000;
    font-size: 13px;
    display: block;
    text-decoration: none;
    font-family: 'Poppins';
}

.login-form-otp a.regist span {
    color: #143C6D;
}


.banner {
    padding: 50px 0;
    background: #EFEAE5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact img {
    width: 35%;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.privacy-content {
    padding: 50px 0;
}

.privacy-content h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: system-ui, 'Open Sans';
}

.privacy-content h2 {
    font-size: 21px;
    font-weight: 500;
    margin: 30px 0 20px;
    font-family: 'Poppins';
    font-weight: bold;
}

.privacy-content p {
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
}

.privacy-content ul {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: 'Poppins';
}

.contact-sec .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-sec h2 {
    text-align: center;
    font-size: 35px;
    font-family: system-ui, 'Open sans';
    font-weight: bold;
    margin-bottom: 40px;
}

.crd23 {
    padding: 30px 20px;
    box-shadow: 0px 12px 20px #00000029;
    border-radius: 20px;
    background: #fff;
    margin: 0 35px;
}

.cdr-img {
    padding: 10px;
    background: #1b243d;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.crd23 h2 {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: normal;
    margin: 0;
}

.crd23 hr {
    background: #143C6D;
}

.cdr-img img {
    height: 35px;
    width: 40px;
}

.blue-box {
    box-shadow: 0px 12px 20px #00000029;
    border-radius: 20px;
    margin-top: 50px;
    background: #1b243d;
    padding: 50px 20px;
    color: #fff;
}

.blue-box .right h3 {
    font-family: system-ui, 'Open Sans';
    font-size: 33px;
    margin-bottom: 30px;
}

.blue-box .right h4 {
    font-size: 23px;
    margin-bottom: 25px;
    font-weight: normal;
    font-family: 'Poppins';
}

.blue-box .right p {
    font-size: 15px;
    font-family: 'Poppins';
}

.blue-box .form-tab {
    background: #EFEAE5;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: -142px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 110%;
    font-family: 'Poppins';
    left: -55px;
}

.blue-box form label {
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
    font-family: 'Poppins';
}

.blue-box form .form-control {
    margin-bottom: 1rem;
}

.blue-box .left input.form-control {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #c3c1c1;
    border-radius: 0;
    padding: 2px 10px;
}

.blue-box .left textArea.form-control {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #c3c1c1;
    border-radius: 0;
    padding: 2px 10px;
}

.blue-box .left a.yellow-btn {
    width: 140px !important;
    height: 35px !important;
    margin: 0 auto;
    font-size: 16px !important;
    background: #FFB600;
    color: #000;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;
    transition: all 1s ease 0s;
}

.contact-sec {
    padding: 50px 0;
    background: #fff;
}

.Faqs img {
    width: 45%;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.faqs-content h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: system-ui, 'Open Sans';
}

.faqs-content p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: 'Poppins';
}

.contact-form li.active {
    color: #C18948 !important;
}

.contact-form li {
    width: fit-content;
    justify-content: center;
    display: flex;
    text-align: center;
    padding-bottom: 5px;
}

.contact-form .nav-pills a {
    color: #e8c69f;
    font-size: 16px;
    width: 100%;
}

.contact-form .nav-pills li a.active {
    border-bottom: 2px solid #c18948;
    color: #C18948;
}

.contact-form .tab-content .tab-pane {
    height: 252px;
    overflow: scroll;
}

.contact-form a.submit-btn {
    width: 140px !important;
    height: 35px !important;
    margin: 10px auto 0 auto;
    font-size: 16px !important;
    background: #C18948;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;
    transition: all 1s ease 0s;
}

.contact-form label {
    margin-bottom: 5px !important;
}

.contact-form textarea {
    background-color: transparent;
    border: 0;
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    background: transparent;
    border-bottom: 1px solid #c3c1c1;
    border-radius: 0;
}


.works-section .heading-logo {
    background-color: #1B243D;
    padding: 10px;
}

.works-section .cards-info {
    background-color: #E8C69F;
    padding: 13px;
    border-radius: 10px;
}

.works-section .cards-info h4 {
    font-size: 20px;
    font-family: combria;
    font-weight: 600;
}

.works-section .cards-info p {
    font-size: 15px;
    margin: 0;
}

.works-section .arrow {
    text-align: center;
    margin-top: -5px;
}

.page-title {
    font-size: 24px;
    font-family: combria;
    font-weight: 600;
}

input:focus {
    outline: none;
}

/* new css */

.why-jericho .banner {
    padding: 50px 0;
    background: #efeae5;
}

.why-jericho .banner .content h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
}

.why-jericho .banner .content h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #C18948;
    line-height: 30px;
    font-weight: 500;
    /* font-family: 'Poppins'; */
}

.why-jericho .banner .bgn-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-jericho .banner .bgn-image img {
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.why-jericho .about-content {
    padding: 50px 0;
    background-color: #fff;
}

.why-jericho .about-content .about-left {
    text-align: center;
}

.why-jericho .about-content .about-left img {
    width: 80%;
}

.why-jericho .about-right p {
    color: #6A6A6A;
}

.why-jericho .why_about {
    margin-top: 4rem;
}

.why-jericho .about-circle {
    min-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    border: 2px solid #143C6D;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-jericho .ex-content {
    display: flex;
}

.why-jericho .about-circle img {
    object-fit: scale-down;
}

.why-jericho .ex {
    font-weight: bold;
    color: #000 !important;
}

.why-jericho .about-right p {
    color: #6A6A6A;
}

.why-jericho .ex-text {
    font-size: 12px;
}

.why-jericho .blue-bar {
    background: #143C6D;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-jericho .blue-bar .container {
    display: flex;
    justify-content: space-around;
}

.why-jericho .bluebr-circle {
    background: #EFEAE5;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #464646;
}

.why-jericho .bluebr-circle h2 {
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}

.why-jericho .bluebr-txt h3 {
    margin: auto;
    color: #000;
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
}

.why-jericho .bluebr .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-jericho .best-invest {
    background: #F9FBFF;
    padding: 50px 0;
}

.why-jericho .best-invest h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.why-jericho .best-invest p {
    font-size: 18px;
}

.why-jericho .team-img img {
    width: 85%;
}

.why-jericho .team-content {
    margin-top: 45px;
    margin-bottom: 45px;
}

.why-jericho .team-text {
    background-color: #1b243d;
    padding: 36px;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    color: #fff !important;
}

.why-jericho .team-quote h5 {
    font-size: 22px;
}

.why-jericho .team-quote h5::before {
    background-color: #FFF;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 4%;
    margin-right: 10px;
    border-radius: 10px;
}

.why-jericho .team-quote p {
    margin-left: 34px;
}


.why-jericho .best-invest hr {
    background-color: #153a6b;
    height: 2px;
    border: none;
}

.why-jericho .partners {
    padding: 50px 0px;
    background-color: #F3F3F3;
}

.why-jericho .divider {
    margin-bottom: 45px;
}

.why-jericho .partners h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
}

.why-jericho .b-logo {
    text-align: center;
}

.why-jericho .b-logo img {
    width: 80%;
}

.why-jericho .blue-bar {
    background: #C18948;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-jericho .blue-bar .container {
    display: flex;
    justify-content: space-around;
}

.why-jericho .bluebr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-jericho .rate-img {
    width: 110px !important;
    height: 110px !important;
}

.why-jericho .rate-img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.why-jericho .rate-txt h2 {
    color: #000;
    font-size: 30px;
    font-weight: 400;
}

.why-jericho .rate-txt h3 {
    font-size: 15px;
    color: #000;
    font-weight: normal;
}

.why-jericho .bluebr .row {
    display: contents;
}

.why-jericho .starts i {
    font-size: 17px;
    color: #ffb600;
}

.why-jericho .fa-star::before {
    content: "\f005";
}

.why-jericho .Latest_news {
    padding: 50px 0;
    background: #F3F3F3;
}

.why-jericho h2.news-txt {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 50px;
    position: relative;
}

.why-jericho h2.news-txt::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #143C6D;
    width: 35%;
    bottom: -10px;
    left: 0;
    margin: 0 auto;
}

.why-jericho .insight-card {
    padding: 15px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: left;
    background: white;
}

.why-jericho .insight-card img {
    margin-bottom: 10px;
    width: 100%;
    height: 160px;
    object-fit: contain;
    object-position: center;
}

.why-jericho .insight-card h2 {
    font-size: 17px !important;
    font-weight: bold;
}

.why-jericho .insight-card span {
    font-size: 15px;
    margin-bottom: 10px !important;
}

.why-jericho .col-md-4 .insight-card p {
    height: 90px;
    text-overflow: ellipsis;
}

.why-jericho .insight-card p {
    font-size: 14px !important;
    margin-top: 5px;
}

.why-jericho .insights p:empty {
    display: none;
}

.why-jericho .insight-card a {
    background: #143C6D;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.why-jericho .download_mobapp {
    background: #fff;
    padding: 50px 0;
}

.why-jericho .download_mobapp h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}

.why-jericho .download_mobapp ul {
    list-style: none;
    line-height: 3;
    padding-left: 0;
    margin-bottom: 30px;
}

.why-jericho .download_mobapp ul li {
    font-size: 20px;
}

.why-jericho .download_mobapp ul li::before {
    background-position: center;
    content: '';
    background-image: url("https://staging.freeu.in/public/assets/css/FrontendCss/../../media/FrontendImages/1517.png");
    width: 100%;
    height: 100%;
    padding: 10px 27px;
    background-size: 37px;
    background-repeat: no-repeat;
}

.why-jericho .store-app {
    display: flex;
    align-items: center;
}

.why-jericho .store-app img {
    width: 150px;
    height: 50px;
    margin-right: 16px;
}

.why-jericho .request_back .left img {
    width: 100%;
    height: 350px;
}

.why-jericho .request_back {
    background: #F3F3F3;
    padding: 60px 0;
}

.why-jericho .request_back h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.why-jericho .request_back h3 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
}

.why-jericho .request_back form {
    background: #fff;
    box-shadow: 0px 1px 20px 1px #00000029;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
}

.why-jericho .request_back form label {
    font-size: 17px;
    width: 100%;
    color: #000;
    margin-bottom: 10px;
}

.why-jericho .request_back input {
    width: 100%;
    border-radius: 8px;
    height: 35px;
    border: 1px solid #143c6d;
    padding: 10px;
    font-size: 14px;
}

.why-jericho .form-group {
    margin-bottom: 1rem;
}

.why-jericho .request_back textarea {
    width: 100%;
    border-radius: 8px;
    height: 70px;
    border: 1px solid #143c6d;
    padding: 10px;
    font-size: 14px;
}

.why-jericho button#request_callback_btn {
    margin-left: 15px !important;
    margin-top: 15px;
    background: #113268;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-jericho .client {
    padding: 50px 0;
    background-color: #efeae5;
}

.why-jericho .client .heading {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.why-jericho .client h2.client-txt::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #143C6D;
    width: 26%;
    bottom: -13px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.why-jericho .client_says .slick-list.draggable {
    height: 420px;
    padding: 20px 0;
}

.why-jericho .client_says .custom-card {
    position: relative;
    border: 0;
    width: 333px !important;
    background: #fff;
    box-shadow: 0px 1px 20px 1px #00000029;
    padding: 20px 25px;
    margin: 0 20px;
    height: 300px;
    border-radius: 15px;
}

.why-jericho .custom-card .star i {
    font-size: 22px;
    letter-spacing: 10px;
    margin: 20px 0;
    color: #143c6d;
}

.why-jericho .custom-card p {
    font-size: 16px;
}

.why-jericho .custom-card .profile img {
    width: 60px;
    height: 60px;
}

.why-jericho .custom-card .profile {
    bottom: -84px;
    position: absolute;
}

.why-jericho .custom-card .profile h2 {
    font-size: 20px !important;
    margin: 5px 0 !important;
    font-weight: bold;
}

.why-jericho .custom-card .profile h3 {
    font-size: 17px;
}

.explore-assets .btn-group {
    margin-bottom: 15px;
}

.explore-assets .sub-heading {
    margin-bottom: 10px;
}

.explore-assets .active,
.primary-investment .active {
    background: #C18948;
    border: navajowhite;
    padding: 7px 18px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.explore-assets .inactive,
.primary-investment .inactive {
    background: #E8C69F;
    border: navajowhite;
    padding: 7px 20px;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.explore-assets .active img,
.explore-assets .inactive img {
    height: 22px;
    width: 22px;
}

.card-container {
    background: #1B243D;
    padding: 25px;
    color: #C18948;
    border-radius: 20px;
}

.card-container .card-info {
    background: #333B52;
    padding: 11px;
    gap: 15px;
    border-radius: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.card-container a {
    color: #C18948 !important;
}

.card-container .card-info p {
    font-size: 16px;
    line-height: 1.3;
    text-align: left;
}

.card-container .card-info img {
    height: 40px;
    width: 40px;
}

.card-container .card-desc {
    line-height: 1.3;
    margin-bottom: 10px;
}

.primary-investment {
    background: #efeae5;
    padding: 40px 0;
}

.primary-investment .page-heading {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.primary-investment .page-desc {
    text-align: center;
    color: #1B243D;
    font-size: 24px;
    line-height: 1.2;
}

.dashboard .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efeae5;
    padding: 50px 0;
    gap: 20px;
}

.dashboard .heading h1 {
    font-weight: 600;
    font-family: 'IM FELL English';
    font-size: 37px;
}

.dashboard .heading p {
    text-align: center;
    font-family: "Cambria";
    font-size: 18px;
    color: #000;
    line-height: 1.4;
}

.dashboard .heading img {
    height: 200px;
    width: 100%;
}

.dashboard .dashboard-form ul#dashboard-tab {
    background-color: #c18948;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    gap: 15%;
}


.dashboard .dashboard-form .nav-pills a {
    color: #fff;
    font-size: 25px;
    width: 100%;
    font-weight: 700;
}

.dashboard .dashboard-form li.active {
    color: #1b243d !important;
}

.dashboard .dashboard-form .nav-pills li a.active {
    border-bottom: 2px solid #1b243d;
    color: #1b243d;
}

.dashboard .dashboard-form .personal-details {
    background: #edd9c2;
    border-radius: 12px;
    padding: 30px;
    margin: 20px 0;
}

.dashboard .dashboard-form .personal-details h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.dashboard .dashboard-form .personal-details .details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.dashboard .dashboard-form .personal-details .details i {
    font-size: 25px;
}

.dashboard .dashboard-form .personal-details .details p {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    font-family: "Cambria";
}

.dashboard .dashboard-form .invest-card {
    background: #edd9c2;
    border-radius: 12px;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.dashboard .dashboard-form p {
    margin: 0;
    font-family: "Cambria";
}

.dashboard .dashboard-form .invest-card .title {
    font-weight: 600;
}

.dashboard .dashboard-form .table-heading {
    font-weight: 600;
    font-size: 21px;
}

/* .dashboard .dashboard-form #current-investment,
.dashboard .dashboard-form #investment-redeemed {
    font-family: "Cambria" !important;
} */

.dashboard .dashboard-form .custom-table thead tr th {
    background: #1b243d;
    color: #fff;
    text-align: center;
    font-weight: 500;
    outline: 1px solid #fff;
    font-size: 12px;
    padding: 10px 10px;
}

.dashboard .dashboard-form .custom-table tbody tr td {
    text-align: center;
    line-height: 1.2;
    font-size: 12px;
    padding: 15px 10px;
}

.dashboard .dashboard-form .custom-table tbody tr td a {
    color: #fff;
    background: #1b243d;
    padding: 5px 12px;
    border-radius: 14px;
}

.investment-details .investment-details-bg {
    padding: 50px 0;
    background: #c18948;
    /* font-family: "Cambria" !important; */
}

.investment-details .investment-details-banner {
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.investment-details .investment-details-banner .image {
    background-color: #e8c69f;
    height: 110px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border-radius: 8px;
    border: 2px solid #1b243d;
}

.investment-details .investment-details-banner .image img {
    width: 73px;
    height: 21px;
}

.investment-details .investment-details-banner .content {
    margin-left: 36px;
}

.investment-details .investment-details-banner .content h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 2px;
}

.investment-details .investment-details-banner .content p {
    margin-bottom: 8px;
    font-size: 16px;
    /* font-family: "Cambria"; */
}

.investment-details .investment-details-banner .content p span {
    margin-right: 10px;
}

.investment-details .investment-details-banner .content img {
    width: 84px;
    background-color: #e8c69f;
    padding: 11px 9px;
    height: 34px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #0000006e;
    margin-right: 10px;
}

.investment-details .table-details {
    background-color: #f9fafc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem 0;
}

.investment-details .table-details .table-content {
    width: 75%;
    margin: auto;
    padding: 50px 100px;
    box-shadow: 0px 1px 9px 2px #6d6d6d47;
    border-radius: 7px;
    border-right: 5px solid #1b243d;
    background-color: #f9fafcc4;
}

.investment-details .table-details .table-content tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}


.market-list .banner {
    padding: 50px 0;
    background: #c18948;
    display: flex;
    align-items: center;
    justify-content: center;
}

.market-list .banner .content h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
}

.market-list .banner ul {
    padding-left: 34px;
}

.market-list .banner ul li {
    list-style-type: none;
    margin-bottom: 30px;
}

.market-list .banner .bgn-image img {
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.market-list .form {
    padding: 50px 0;
}

.market-list .form .row {
    width: 80%;
    margin: 0 auto;
}

.market-list .form .form-group {
    margin-bottom: 20px;
}

.market-list .form label {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.market-list .form .form-group input {
    font-size: 14px;
    width: 100%;
    height: 40px;
    background: #F5F6F9;
    border: 1px solid #D2D2D2;
    color: #000;
    padding: 5px 8px;
    border-radius: 10px;
}

.market-list .form .form-group input[type="number"] {
    -moz-appearance: textfield;
}

.market-list .form .form-group select {
    font-size: 14px;
    width: 100%;
    height: 40px;
    background: #F5F6F9;
    border: 1px solid #D2D2D2;
    color: #000;
    padding: 5px 8px;
    border-radius: 10px;
}

.market-list .form .declaration h5 {
    font-weight: 600;
}

.market-list .form .declaration label {
    font-size: 16px;
    margin-bottom: 5px;
}

.market-list .form button.blue-btn {
    background: #113268;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.dashboard .dashboard-form #market-block {
    margin-top: 10px;
    padding: 15px 0;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.dashboard .dashboard-form #market-block a {
    color: #8b8989;
    font-size: 17px;
    font-weight: 500;
}

.dashboard .dashboard-form #market-block li a.active {
    border-bottom: 2px solid #1b243d;
    color: #1b243d;
}

.dashboard .Latest_news {
    padding: 50px 0;
}

.dashboard .Latest_news h2.news-txt {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 50px;
    position: relative;
}

.dashboard .Latest_news h2.news-txt::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #000;
    width: 31%;
    bottom: -10px;
    left: 0;
    margin: 0 auto;
}


.investor-profile .investor-image {
    width: 46%;
    margin: 0 auto;
}

.investor-profile .invest-form h2 {
    font-weight: bold;
}

.investor-profile .invest-form a {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #c18948;
}

.investor-profile .invest-form a i {
    color: #000;
    margin-right: 5px;
}

.investor-profile .invest-form a span {
    color: #000;
}

.investor-profile .invest-form .ip-header.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0px;
    border-bottom: 1px solid #D5D5D5;
}

.investor-profile .invest-form form {
    padding: 35px 0;
}

.investor-profile .invest-form .iv-form {
    display: flex;
    flex-direction: column;
}

.investor-profile .invest-form .iv-form label {
    margin-bottom: 10px;
    font-size: 18px;
}

.investor-profile .invest-form .form-sec input {
    padding: 2px;
    border-radius: 0px;
    box-sizing: border-box;
    /* color: #9e9e9e; */
    border: 1px solid #bdbdbd;
    font-size: 16px;
    letter-spacing: 1px;
    height: 50px !important;
}

.investor-profile .invest-form textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.investor-profile .invest-form .save {
    background: #c28848;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    width: 25%;

}

.kyc .investor-image {
    margin: 0 auto;
}

.kyc .investor-image img {
    width: 35%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.kyc .acc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 45px;
    border-bottom: 1px solid #D5D5D5;
}

.kyc .acc-header h2 {
    font-weight: bold;
}

.kyc .acc-header p {
    color: #737373;
}

.kyc .add-acc {
    border: none;
    padding: 10px 28px;
    border-radius: 4px;
    background-color: #c18948;
    color: #fff;
}

.kyc .add-acc:focus,
.add-acc:active {
    background-color: #c18948 !important;
    box-shadow: none !important;
    color: #fff;
}

.kyc .tab-form {
    padding: 55px 30px;
}

.kyc .pi-details h2 {
    color: #143C6D;
    font-weight: 600;
}

.kyc .pi-details h4{
    font-weight: 600;
}

.kyc .pi-details p{
    font-weight: 500;
    font-size: 18px;
}

.kyc .form-sec label{
    font-size: 17px;
    color: #000;
    margin-bottom: 5px;
}

.kyc .form-sec input{
    border-radius: 0px;
    box-sizing: border-box;
    color: #9e9e9e;
    border: 1px solid #bdbdbd;
    font-size: 16px;
    letter-spacing: 1px;
    height: 50px !important;
    background-color: #F5F6F9;
    margin-bottom: 0px;
}

.kyc h5.info{
    font-weight: 600;
    font-size: 21px;
}

.kyc button.next-button {
    background: #c18948;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    min-width: 335px;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    width: fit-content;
    margin-left: auto !important;
    margin-right: auto;
}